.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.to-do {
  border: 1px solid lightgray;
  margin: 4px;
  width: 30%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px lightgray;
  border-radius: 5px;
}

.to-do > button {
  float: right;
}

.list {
  margin: 30px;
  
}

.form {
  text-align: center;
}
